@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.bg-background {
		background: #050505;
	}
}

.bg-background\/80 {
	background: #050505a1;
}

html,
body {
	min-height: 100%;
	height: 100%;
}

body {
	background: #050505;
	font-family: Inter;
	height: 100%;
}
input:focus {
	outline: none !important;
}

input::placeholder, textarea::placeholder {
	color: #666666;
	font-weight: 500;
}

/* width */
::-webkit-scrollbar {
	width: 8px;
}

.data-\[selected\]\:opacity-100[data-selected] {
	background: #ffffff23;
}

/* Track */
::-webkit-scrollbar-track {
	background: #121212;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #666666;
	border-radius: 999px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
